.extendableDiv {
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100vh;
}

.extendableDiv button {
  height: 5%;
}

.extendableDiv--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}

.extendableDiv--text {
  overflow: auto;
}

.extendableDiv--contract {
  height: 50%;
}

.extendableDiv--brainrot {
  height: 50%;
  overflow: hidden;
}

.extendableDiv--brainrot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
