.input-form input {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
  width: 300px;
  height: 50px;
  padding-left: 20px;
  line-height: 50px;
  border-radius: 10px;
}

.last-section {
  background: linear-gradient(#8404a0, #ef6500, #f3047c, #fcab23);
  color: white;
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
  position: relative;
  margin: 20px;
}

footer .link-copy-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
footer .link-copy-right a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-top: 50px;
}

.about-us {
  font-size: 24px;
  font-weight: bold;
}

.about-us-content {
  font-size: 15px;
  padding-top: 10px;
  font-weight: normal;
}

.contact-us-format {
  color: #f3047c;
  font-size: 32px;
  font-weight: bold;
  margin: 20px;
}

.brain-rot {
  height: 40;
  position: absolute;
  bottom: -100px;
  right: -9px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.9));
}

.toilet {
  position: absolute;
  top: -100px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.9));
}

.button-format {
  margin-left: 20px;
  margin-bottom: 20px;
  height: 40px;
  width: 70px;
  background-color: #f3047c;
  border: none;
  color: white;
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button-format:hover {
  box-shadow: 0 0 5px 3px rgba(148, 38, 38, 0.8);
}

.button-format:active {
  background-color: #4caf50;
  color: white;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.icon {
  width: 150px;
  height: 150px;
  animation: shake 0.5s ease-in-out infinite;
}

@media (max-width: 1050px) {
  .brain-rot {
    display: none;
  }
}